# Data and Models
/data/
data/
*.tif
*.keras
models/
reports/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
pip-log.txt
pip-delete-this-directory.txt

# Testing and Coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Documentation
docs/_build/
docs/site/
*.mo
*.pot

# IDE and Editor files
.idea/
.spyderproject
.spyproject
.ropeproject
.project
.pydevproject
*.swp
*.swo
.ruff_cache/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# Package Management
.pdm.toml
.pdm-python
.pdm-build/
__pypackages__/
.pypirc

# Jupyter
.ipynb_checkpoints/

# Logs
logs/
*.log

# OS-specific
.DS_Store

# Other
celerybeat-schedule
celerybeat.pid
cython_debug/
instance/
.webassets-cache
.scrapy
